{% extends 'main.html' %}
<!--{% load staticfiles %}
-->
{% block outFacts %}

      <div class="row featurette">
        <div class="col-md-7" align="center">
          <h2 class="featurette-heading">Добро пожаловать на лучший сайт о достопримечательностях Киева! </h2>
          <p class="lead">На нашем сайте вы сможете узнать все, что вы хотите узнать о достопримечательностях Киева!</p>
        </div>
        <div class="col-md-5" align="center">
          <img class="featurette-image img-fluid center-block" src="/static/images/main.jpg" alt="Generic placeholder image">
            <!--<img src="/static/images/main.jpg" width = "300px" alt="{{raw.4}}">-->
        </div>
      </div>

{% endblock %}